@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lato);
body {
	font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
}

label {
	font-family: 'Lato', sans-serif;
	  font-weight: 500;
}

input, button, select, textarea {
	font-family: 'Lato', sans-serif;
}

.language-switcher-locale-url > li { 
	 display: inline-block;
	 margin: 0 20px 0 0;
} 
ul.language-switcher-locale-url {
	 margin: 0px;
}

.region-top-right {
	float: right;
}

.breadcrumb {
	float: right;
}

a.language-link {
	color: #858585;
}

.field-item.even > h3 {
  color: #3498db;
}

.field-item.even > h2 {
  color: #3498db;
  font-size: 22px;
}

.node-gtk-simple-page {
  padding-bottom: 40px;
}

ul.tick {
	padding: 10px;
}

#section-top-bar .region-top-right .block {
	float: right;
}

input#edit-submit {
	margin-top: 10px;
}

@media screen and (max-width: 991px) {
	.col-xs-1 {
		width: 100%;
	}
}
